<p>To reset your password, please click the following link</p>
http://localhost:8001/reset-password/reset/{{ resetToken.token }}
<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
