{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Product {{ productId }}</h1>
{% endblock %}
